<div class="weather-container">
  <div class="top">
    <div class="greeting">
      <h3>{{greeting}}</h3>
    </div>
    <form #form="ngForm" (submit)="onSubmit()">
      <input
        type="text"
        placeholder="Enter city for weather information"
        name="cityName"
        [(ngModel)]="cityName"
        required
      /><button>Get Weather</button>
    </form>
  </div>
  <div>
    
    <ng-container *ngIf="weatherTemp">
      <i
        [ngClass]="
          weatherTemp > 80
            ? 'fa-solid fa-sun sun'
            : 'fa-solid fa-snowflake cold'
        "
      ></i>
    </ng-container>
    <div class="bottom">
      <ng-container *ngIf="weatherTemp && weatherCity">
        <h3 class="city">{{ weatherCity }}</h3>
        <h3 class="temperature">
          {{ weatherTemp }}
          <i class="fa-solid fa-temperature-three-quarters"></i>
        </h3>
      </ng-container>
    </div>

    <router-outlet></router-outlet>
  </div>
</div>
